# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.test
.env.local
.env.production
.env.*.local

# Build artifacts
dist/
build/
coverage/

# Prisma
# We generate Prisma Client on deploy or local
*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS config
.DS_Store
Thumbs.db

baileys_auth_info/*
.wwebjs_auth/*
.wwebjs_cache/*
.cache/*
.env.production
.env.production
.env.production
